# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django stuff:
staticfiles/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.venv
venv/
venv2/
ENV/
env/

# Project template
media/
.ipython/
*.dump
.env
Pipfile
Pipfile.lock
migrations/
